<!DOCTYPE HTML>
<html>
  <head>
    <title>云函数调试</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>云函数调试</h1>

    <p>hello结果：<%= helloCallBack %></p>
  </body>
</html>